@page "/station/{stationId:int}"
@inject StationService StationService
@using cityBikeApp.Components

<section class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <StationDetailsCard Details="@Details" />
    </div>
</section>


@code {
    [Parameter]
    public int StationId { get; set; }
    public StationDetails? Details { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Details = await StationService.GetStationDetails(StationId);
    }
}
