@page "/station/{stationId:int}"
@inject StationService StationService

<section class="w-full py-12">
    <ul>
        <li>@Details?.Station?.StationName</li>
        <li>@Details?.Station?.StationAddress</li>
        <li>Started Journeys: @Details?.StartedJourneysCount</li>
        <li>Finished Journeys: @Details?.EndedJourneysCount</li>
        @* @if (Details?.PeakTimes != null)
        {
        foreach (var peakTime in Details.PeakTimes)
        {
        <li>@peakTime.Hour @peakTime.Count</li>
        }
        } *@
    </ul>
</section>


@code {
    [Parameter]
    public int StationId { get; set; }
    public StationDetails? Details { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Details = await StationService.GetStation(StationId);
    }
}
