<footer class="flex h-16 w-full font-body shrink-0 items-center px-2 md:px-6 bg-blue-500 text-white justify-end z-10">
    <div class="flex items-center md:gap-2 mx-4">
        <span class="font-bold z-10">© 2024 CityBike</span>
    </div>
    <div class="flex items-center md:gap-2 mx-4">
        <span class="font-bold z-10">All rights reserved</span>
    </div>
</footer>