@inherits LayoutComponentBase
@using cityBikeApp.Components

<div class="flex flex-col h-screen w-screen bg-slate-100">
    <!-- NavBar -->
    <header class="flex-shrink-0">
        <NavBar />
    </header>

    <!-- Body -->
    <main class="flex-grow">
        @Body
    </main>

    <!-- Footer -->
    <footer class="flex-shrink-0">
        <Footer />
    </footer>
</div>
